---
# This workflow integrates ShiftLeft NG SAST with GitHub
# Visit https://docs.shiftleft.io for help
name: ShiftLeft

on:
  pull_request:
  workflow_dispatch:

jobs:
  NextGen-Static-Analysis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Download ShiftLeft CLI
      run: |
        curl https://cdn.shiftleft.io/download/sl > ${GITHUB_WORKSPACE}/sl && chmod a+rx ${GITHUB_WORKSPACE}/sl
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: NextGen Static Analysis
      run: |
        ${GITHUB_WORKSPACE}/sl analyze --wait --app import_test --tag app.group=SLPy --tag branch=${{ github.head_ref || steps.extract_branch.outputs.branch }} --python $(pwd)/import_test
        ${GITHUB_WORKSPACE}/sl analyze --wait --app vulnerable_code --tag app.group=SLPy --tag branch=${{ github.head_ref || steps.extract_branch.outputs.branch }} --python $(pwd)/vulnerable_code
      env:
        SHIFTLEFT_ACCESS_TOKEN: ${{ secrets.SHIFTLEFT_ACCESS_TOKEN }}
